body{
    background-color: #338844;
}

#toolbar{
    margin-bottom: 5px;
}

#trackContainer{
    height: 50%;
    background-color: #116622;
    overflow-y: scroll;
}

.track{
    background-color: #777777;
    margin-bottom: 5px;
    height: 125px;
    position: relative;
}

.instrumentInfo{
    background-color: #999999;
    width: 250px;
    position: absolute;
    height: 100%;
    z-index: 2;
}
