
#toolbar{
    margin: 30px;
    margin-bottom: 0px;
    padding: 10px 30px;
    background: rgba(135,149,232, .7);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

#playhead {
    position:absolute;
    left:0px;
    background-color:#ff0000;
    width:2px;
    height:100%;
    border-top:3px solid #ff0000;
    z-index: 100;
}

body {
    margin: 0;
}

#bg {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: -100;
    overflow:hidden;
}

#bg video {
    position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
    height: 330%;
}

#instrumentContainer{
    padding: 30 30 30 30;
    z-index: 1000;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#trackContainer{
    margin: 0 30px;
    padding: 20px;
    background: black;
}

.instrumentInfo{
    background-color: rgba(255,106,213,.4);
    border: 1px solid white;
    margin-right: 50px;
    width: 250px;
    position: absolute;
    height: 100%;
    z-index: 2;
}

.keyboard{
    overflow-x: scroll;
    width: 100%;
    height: 400px;
    padding-bottom: 10px;
    background-color: black;
}

#dawContainer {
    /* background: rgba(150,175,175,.6); */
    background-image: url("assets/wood.jpg");
    background-repeat: repeat;
    

    margin-left: 30px;
    margin-right: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.keyContainer{
    width: 2182px;
}

.white, .black-spacer{
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
}

.white{
    height: 100%;
    width: 50px;
    background-color: white;
    margin-left: -1px;
    margin-right: -1px;
}

.black-spacer{
    width: 0px;
    margin-left: -4px;
}

.black{
    width: 30px;
    height: 60%;
    background-color: black;
    position: relative;
    margin-left: -15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.key {
    border-radius: 0 0 5px 5px;
}

.key:active {
    background-color: #999999;
}

.drumpad {
    background-color: #555555;
    width: 450px;
    height: 450px;
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 2px;
    align-content: space-between;
}

.drumTable{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    border-radius: 10px;
}

.drumRow {
    text-align: center;
    margin-top: 4%;

}

.pad {
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: black;
    box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 9%;
    cursor:pointer;
    border: 1px solid white;
    border-radius: 10px;
}

.pad:active {
    background-color: #999999;
}