<div class="drumpad">
    <table class="drumTable"> <!-- don't @ me -->
        <tr class="drumRow">
            <td class="pad" id="kick">
                kick
            </td>
            <td class="pad" id="clap">
                clap
            </td>
            <td class="pad" id="snare">
                snare
            </td>
        </tr>
        <tr class="drumRow">
            <td class="pad" id="hihat">
                hi-hat
            </td>
            <td class="pad" id="openhat">
                open hat
            </td>
            <td class="pad" id="ride">
                ride
            </td>
        </tr>
        <tr class="drumRow">
            <td class="pad" id="crash">
                crash
            </td>
            <td class="pad" id="tom">
                tom
            </td>
            <td class="pad" id="shaker">
                shaker
            </td>
        </tr>
    </table>
</div>
