<div class="drumpad">
    <table class="drumTable"> <!-- don't @ me -->
        <tr class="drumRow">
            <td class="pad" id="drum-0">
                kick
            </td>
            <td class="pad" id="drum-1">
                clap
            </td>
            <td class="pad" id="drum-2">
                snare
            </td>
        </tr>
        <tr class="drumRow">
            <td class="pad" id="drum-3">
                hi-hat
            </td>
            <td class="pad" id="drum-4">
                open hat
            </td>
            <td class="pad" id="drum-5">
                ride
            </td>
        </tr>
        <tr class="drumRow">
            <td class="pad" id="drum-6">
                crash
            </td>
            <td class="pad" id="drum-7">
                tom
            </td>
            <td class="pad" id="drum-8">
                shaker
            </td>
        </tr>
    </table>
</div>
