<div class="drumpad">
    <table class="drumTable"> <!-- don't @ me -->
        <tr class="drumRow">
            <td class="pad" id="drum-60">
                kick
            </td>
            <td class="pad" id="drum-61">
                clap
            </td>
            <td class="pad" id="drum-62">
                snare
            </td>
        </tr>
        <tr class="drumRow">
            <td class="pad" id="drum-63">
                hi-hat
            </td>
            <td class="pad" id="drum-64">
                open hat
            </td>
            <td class="pad" id="drum-65">
                ride
            </td>
        </tr>
        <tr class="drumRow">
            <td class="pad" id="drum-66">
                crash
            </td>
            <td class="pad" id="drum-67">
                tom
            </td>
            <td class="pad" id="drum-68">
                shaker
            </td>
        </tr>
    </table>
</div>
