<!-- TODO: Actually wire keys up for playing (jQuery?)
           Get keyboard input mapping squared away
-->
<div class="keyboard">
    <div class= "keyContainer">
        <div class="white key" id="key-C1"></div>
        <div class="black-spacer"><div class="black key" id="key-Db1"></div></div>
        <div class="white key" id="key-D1"></div>
        <div class="black-spacer"><div class="black key" id="key-Eb1"></div></div>
        <div class="white key" id="key-E1"></div>
        <div class="white key" id="key-F1"></div>
        <div class="black-spacer"><div class="black key" id="key-Gb1"></div></div>
        <div class="white key" id="key-G1"></div>
        <div class="black-spacer"><div class="black key" id="key-Ab1"></div></div>
        <div class="white key" id="key-A1"></div>
        <div class="black-spacer"><div class="black key" id="key-Bb1"></div></div>
        <div class="white key" id="key-B1"></div>
        <div class="white key" id="key-C2"></div>
        <div class="black-spacer"><div class="black key" id="key-Db2"></div></div>
        <div class="white key" id="key-D2"></div>
        <div class="black-spacer"><div class="black key" id="key-Eb2"></div></div>
        <div class="white key" id="key-E2"></div>
        <div class="white key" id="key-F2"></div>
        <div class="black-spacer"><div class="black key" id="key-Gb2"></div></div>
        <div class="white key" id="key-G2"></div>
        <div class="black-spacer"><div class="black key" id="key-Ab2"></div></div>
        <div class="white key" id="key-A2"></div>
        <div class="black-spacer"><div class="black key" id="key-Bb2"></div></div>
        <div class="white key" id="key-B2"></div>
        <div class="white key" id="key-C3"></div>
        <div class="black-spacer"><div class="black key" id="key-Db3"></div></div>
        <div class="white key" id="key-D3"></div>
        <div class="black-spacer"><div class="black key" id="key-Eb3"></div></div>
        <div class="white key" id="key-E3"></div>
        <div class="white key" id="key-F3"></div>
        <div class="black-spacer"><div class="black key" id="key-Gb3"></div></div>
        <div class="white key" id="key-G3"></div>
        <div class="black-spacer"><div class="black key" id="key-Ab3"></div></div>
        <div class="white key" id="key-A3"></div>
        <div class="black-spacer"><div class="black key" id="key-Bb3"></div></div>
        <div class="white key" id="key-B3"></div>
        <div class="white key" id="key-C4"></div>
        <div class="black-spacer"><div class="black key" id="key-Db4"></div></div>
        <div class="white key" id="key-D4"></div>
        <div class="black-spacer"><div class="black key" id="key-Eb4"></div></div>
        <div class="white key" id="key-E4"></div>
        <div class="white key" id="key-F4"></div>
        <div class="black-spacer"><div class="black key" id="key-Gb4"></div></div>
        <div class="white key" id="key-G4"></div>
        <div class="black-spacer"><div class="black key" id="key-Ab4"></div></div>
        <div class="white key" id="key-A4"></div>
        <div class="black-spacer"><div class="black key" id="key-Bb4"></div></div>
        <div class="white key" id="key-B4"></div>
        <div class="white key" id="key-C5"></div>
        <div class="black-spacer"><div class="black key" id="key-Db5"></div></div>
        <div class="white key" id="key-D5"></div>
        <div class="black-spacer"><div class="black key" id="key-Eb5"></div></div>
        <div class="white key" id="key-E5"></div>
        <div class="white key" id="key-F5"></div>
        <div class="black-spacer"><div class="black key" id="key-Gb5"></div></div>
        <div class="white key" id="key-G5"></div>
        <div class="black-spacer"><div class="black key" id="key-Ab5"></div></div>
        <div class="white key" id="key-A5"></div>
        <div class="black-spacer"><div class="black key" id="key-Bb5"></div></div>
        <div class="white key" id="key-B5"></div>
        <div class="white key" id="key-C6"></div>
        <div class="black-spacer"><div class="black key" id="key-Db6"></div></div>
        <div class="white key" id="key-D6"></div>
        <div class="black-spacer"><div class="black key" id="key-Eb6"></div></div>
        <div class="white key" id="key-E6"></div>
        <div class="white key" id="key-F6"></div>
        <div class="black-spacer"><div class="black key" id="key-Gb6"></div></div>
        <div class="white key" id="key-G6"></div>
        <div class="black-spacer"><div class="black key" id="key-Ab6"></div></div>
        <div class="white key" id="key-A6"></div>
        <div class="black-spacer"><div class="black key" id="key-Bb6"></div></div>
        <div class="white key" id="key-B6"></div>
    </div>
</div>
