<!-- TODO: Actually wire keys up for playing (jQuery?)
           Get keyboard input mapping squared away
-->
<div class="keyboard">
    <div class= "keyContainer"><!-- from C1 to B6 -->
        <div class="white key" id="key-36"></div>
        <div class="black-spacer"><div class="black key" id="key-37"></div></div>
        <div class="white key" id="key-38"></div>
        <div class="black-spacer"><div class="black key" id="key-39"></div></div>
        <div class="white key" id="key-40"></div>
        <div class="white key" id="key-41"></div>
        <div class="black-spacer"><div class="black key" id="key-42"></div></div>
        <div class="white key" id="key-43"></div>
        <div class="black-spacer"><div class="black key" id="key-44"></div></div>
        <div class="white key" id="key-45"></div>
        <div class="black-spacer"><div class="black key" id="key-46"></div></div>
        <div class="white key" id="key-47"></div>
        <div class="white key" id="key-48"></div>
        <div class="black-spacer"><div class="black key" id="key-49"></div></div>
        <div class="white key" id="key-50"></div>
        <div class="black-spacer"><div class="black key" id="key-51"></div></div>
        <div class="white key" id="key-52"></div>
        <div class="white key" id="key-53"></div>
        <div class="black-spacer"><div class="black key" id="key-54"></div></div>
        <div class="white key" id="key-55"></div>
        <div class="black-spacer"><div class="black key" id="key-56"></div></div>
        <div class="white key" id="key-57"></div>
        <div class="black-spacer"><div class="black key" id="key-58"></div></div>
        <div class="white key" id="key-59"></div>
        <div class="white key" id="key-60"></div>
        <div class="black-spacer"><div class="black key" id="key-61"></div></div>
        <div class="white key" id="key-62"></div>
        <div class="black-spacer"><div class="black key" id="key-63"></div></div>
        <div class="white key" id="key-64"></div>
        <div class="white key" id="key-65"></div>
        <div class="black-spacer"><div class="black key" id="key-66"></div></div>
        <div class="white key" id="key-67"></div>
        <div class="black-spacer"><div class="black key" id="key-68"></div></div>
        <div class="white key" id="key-69"></div>
        <div class="black-spacer"><div class="black key" id="key-70"></div></div>
        <div class="white key" id="key-71"></div>
        <div class="white key" id="key-72"></div>
        <div class="black-spacer"><div class="black key" id="key-73"></div></div>
        <div class="white key" id="key-74"></div>
        <div class="black-spacer"><div class="black key" id="key-75"></div></div>
        <div class="white key" id="key-76"></div>
        <div class="white key" id="key-77"></div>
        <div class="black-spacer"><div class="black key" id="key-78"></div></div>
        <div class="white key" id="key-79"></div>
        <div class="black-spacer"><div class="black key" id="key-80"></div></div>
        <div class="white key" id="key-81"></div>
        <div class="black-spacer"><div class="black key" id="key-82"></div></div>
        <div class="white key" id="key-83"></div>
        <div class="white key" id="key-84"></div>
        <div class="black-spacer"><div class="black key" id="key-85"></div></div>
        <div class="white key" id="key-86"></div>
        <div class="black-spacer"><div class="black key" id="key-87"></div></div>
        <div class="white key" id="key-88"></div>
        <div class="white key" id="key-89"></div>
        <div class="black-spacer"><div class="black key" id="key-90"></div></div>
        <div class="white key" id="key-91"></div>
        <div class="black-spacer"><div class="black key" id="key-92"></div></div>
        <div class="white key" id="key-93"></div>
        <div class="black-spacer"><div class="black key" id="key-94"></div></div>
        <div class="white key" id="key-95"></div>
        <div class="white key" id="key-96"></div>
        <div class="black-spacer"><div class="black key" id="key-97"></div></div>
        <div class="white key" id="key-98"></div>
        <div class="black-spacer"><div class="black key" id="key-99"></div></div>
        <div class="white key" id="key-100"></div>
        <div class="white key" id="key-101"></div>
        <div class="black-spacer"><div class="black key" id="key-102"></div></div>
        <div class="white key" id="key-103"></div>
        <div class="black-spacer"><div class="black key" id="key-104"></div></div>
        <div class="white key" id="key-105"></div>
        <div class="black-spacer"><div class="black key" id="key-106"></div></div>
        <div class="white key" id="key-107"></div>
    </div>
</div>
