
.track{
    /* background-color: rgba(173,140,255, .3); */
    margin-bottom: 5px;
    height: 125px;
    position: relative;
    cursor: pointer;
}

.track.expanded {
    height: 250px;
}

.trackData {
    position: relative;
    height: 100%;
    width: calc(100% - 250px);
    left: 250px;
}

.note {
    position: absolute;
    height: 8%;
    background:#00aaaa;
}
.delete{
    background:red;
    border:none;
    color:white;
    font-size: 1em;
}

.trackModifiers{
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}

.trackGrid {
    height: 100%;
    border-collapse: collapse;
    background-color: white;
}

.gridBlock{
    border: 1px solid black;
    padding: 0px;
    box-sizing: border-box;
    width: 40px;
    
}
