
.track{
    background-color: #777777;
    margin-bottom: 5px;
    height: 125px;
    position: relative;
    cursor: pointer;
}

.track.expanded {
    height: 250px;
}

.trackData {
    position: relative;
    height: 100%;
    width: calc(100% - 250px);
    left: 250px;
}

.note {
    position: absolute;
    height: 8%;
    background:#00aaaa;
}
.delete{
    background:red;
    border:none;
    color:white;
    font-size: 1em;
}

.trackModifiers{
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}