<div class="track">
    <div class="instrumentInfo">
        <h3 class="instrumentName"></h3>
        <div class="trackModifiers">
	  <select class="instrumentName">
	    <option value="synth">Synth</option>
	    <option value="bass">Bass</option>
	    <option value="drums">Drums</option>
	    <option value="microphone">Microphone</option>
	  </select>
          <button class="delete">Delete</button>
        </div>
    </div>
    <div class="trackData">
      <table class="trackGrid">

      </table>
      <script>
        $(document).ready(function(){

            var width = 0;
            $('.trackGrid').each(function(index){
                    width = $(this).css('width');
            });
            var beatLength = width / 40 * 1.2;
            var height = 125; //need to multiply by 2 for expanded?
            var tableHTML = '';
            for(var i=0; i<12; i++){
                tableHTML += '<tr class="gridRow">';

                //for(var j=0; j<width; j+=beatLength){
                for(var j=0; j<28; j+=1){
                    tableHTML += '<td class="gridBlock"></td>';
                }

                tableHTML += '</tr>';
            }
            console.log(tableHTML);
            $('.trackGrid').each(function(index){
                $(this).html(tableHTML);
            });
        });
      </script>
    </div>
</div>
